{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block page_title 'Welcome' %}
{% block page_subtitle 'Demo for Tabler Bundle' %}

                        {% block page_stats %}
                            <div class="text-muted mt-1">
                                {{ app.request.get('_route') }}
                            </div>
                        {% endblock %}

{% block breadcrumb 'breadcrumbs...' %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/tac/survos/demos/tabler-demo/src/Controller/AppController.php'|file_link(0) }}">src/Controller/AppController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/tac/survos/demos/tabler-demo/templates/app/index.html.twig'|file_link(0) }}">templates/app/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
